<div class="container" [class.blurred]="isExplanationClicked">
    <img class="background" [src]="'/assets/alice-card.jpg'" >
    <button class="explanation-quizz" (click)="changeExplanationStatus()">EXPLICACIÓN</button>
    
</div>
<div *ngIf="isExplanationClicked" class="popup-explanation">
    <h2><b>EL JUEGO DE LAS TRES PUERTAS</b></h2>
    <p>En este juego tienes que encontrar la puerta que esconde tu primer regalo.<br>Como puedes ver, hay tres puertas, pero solo una de ellas contiene tu preciado regalo...<br>Las otras en cambio, contienen...la destrucción de tus vidas...así que ves con cuidado.<br> Suerte!</p>
    <button class="close-popup-explanation" (click)="changeExplanationStatus()">Cerrar</button>
</div>