<div class="container" [class.blurred]="isExplanationClicked">
    <button class="explanation-quizz" (click)="changeExplanationStatus()">EXPLICACIÓN</button>
    <div clas="images-container" *ngFor="let image of doorsInformation; let i = index">
        <div (click)="isImageClicked(i)" style="cursor: pointer;"><img class="door-images" [src]="image.src" ></div>
    </div>
    <div class="answer-explanation" *ngIf="showAnswer">
        <h1>{{isCorrectAnswerSelected ? 'Puerta correcta' : 'Puerta equivocada'}}</h1>
        <p>{{isCorrectAnswerSelected ? 'Aquí tienes tu regalo:' : 'Esta es tu muerte:'}}</p>
        <div>
            <img [src]="isCorrectAnswerSelected ? '../assets/qtea.jpg' : '../assets/toji.png'">
        </div>
        <button class="close-popup-explanation" (click)="closeAnswerExplanation()">Cerrar</button>
    </div>
    
    <button *ngIf="isCorrectAnswerSelected"  class="buttonNextGame" (click)="nextGame()">SIGUIENTE</button>
    
</div>
<div *ngIf="isExplanationClicked" class="popup-explanation">
    <h2><b>EL JUEGO DE LAS TRES PUERTAS</b></h2>
    <p>En este juego tienes que encontrar la puerta que esconde tu primer regalo.<br>Como puedes ver, hay tres puertas, pero solo una de ellas contiene tu preciado regalo...<br>Las otras en cambio, contienen...la destrucción de tus vidas...así que ves con cuidado.<br>Es un juego de puro azar...así que...<br> Suerte!</p>
    <button class="close-popup-explanation" (click)="changeExplanationStatus()">Cerrar</button>
</div>