<main>
  <header>
    <div class="container">
      <div *ngIf="isVictorReady" class="images">
        <a href="#" data-tip="Estas son tus vidas">
          <img *ngIf="livesNumber > 0" [src]="'/assets/full-heart.png'" >
          <img *ngIf="livesNumber > 1" [src]="'/assets/full-heart.png'" >
          <img *ngIf="livesNumber == 3" [src]="'/assets/full-heart.png'" >
        </a>
        <div><img *ngIf="showBrokenHeart" class="vader" [src]="'/assets/corazon-roto.png'" ></div>
      </div>
      <div [ngClass]="(showHome || showGameOver) ? 'disabled' : 'welcome'" (click) = "returnHome()"><h1 class="bigger">VICTOR IN BORDERLAND</h1></div>
    </div>
  </header>
  <section class="content">
    <app-home *ngIf="showHome && livesNumber != 0" [isGameStarted]="isGameStarted" (vistorIsReadyToStartTheGame)="victorIsReadyToStart()"></app-home>
    <app-explanation *ngIf="showExplanation && livesNumber != 0" (showQuizzComponent)="showHangmanComponent()"></app-explanation>
    <app-quizz *ngIf="showQuizz && livesNumber != 0" (sustractOneLive)="subtractOneLive()" (showDoorsGame)="showDoorsComponent()"></app-quizz>
    <app-doors *ngIf="showDoors && livesNumber != 0" (sustractOneLive)="subtractOneLive()" (showHangmanGame)="showHangmanComponent()"></app-doors>
    <app-hangman *ngIf="showHangman && livesNumber != 0" (sustractOneLive)="subtractOneLive()" (returnHome)="returnHome()"></app-hangman>
    <app-game-over *ngIf="livesNumber == 0" (restartGameInQuizz)="restartGame()"></app-game-over>
  </section>
</main>
