<img class="background" [src]="'/assets/alice-in-borderland.jpg'" >
<div id="container" *ngIf="!isGameStarted && !isGameCancelled">
    <app-countdown class="countdown-component" (gameCanStart)="startGame()"></app-countdown>
</div>
<div id="container" *ngIf="isGameStarted">
    <div class="container-inner">
      <div class="content">
        <p>Are you ready?</p>
      </div>
      <div class="buttons">
        <button type="button" class="confirm" (click)="vistorIsReady()">Yes</button>
        <button type="button" class="cancel" (click)="victorIsNotReady()">No</button>
      </div>
    </div>
  </div>
